@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:wght@700&family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  line-height: 55px;
  padding: 0px 30px;
  border-radius: 4px;
  background-color: #6c9894;
  text-align: center;
  text-transform: uppercase;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 25px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #a7d7c5;
}

.animation-move {
  opacity: 0;
  -webkit-transform: translate(110%, 0px);
      -ms-transform: translate(110%, 0px);
          transform: translate(110%, 0px);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.animation-move.active,
.active .animation-move {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.animation-scale {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.animation-scale.active,
.active .animation-scale {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.animation-rotate {
  -webkit-animation: rotate 50s infinite linear;
          animation: rotate 50s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  margin: 45px 0px 0px 0px;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e2ede8;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.header__logo {
  position: relative;
  width: 109px;
  height: 138px;
  background-color: #a7d7c5;
  z-index: 3;
}

.header__logo img {
  position: absolute;
  top: 28px;
  left: 11px;
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0px 0px 0px 30px;
}

.header__link {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20.5px;
  letter-spacing: -0.1px;
  color: #444444;
  padding: 13px 20px;
}

.header__link:hover {
  background-color: #a7d7c5;
}

.main {
  background-color: #f4f9f4;
  padding: 137px 0px 170px 0px;
  background: #f4f9f4 url(../img/main/bg-decor.png) right bottom -330px no-repeat;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.main__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.main-image {
  position: relative;
  width: 653px;
  height: 653px;
}

.main-image__foto {
  position: absolute;
  top: 149px;
  left: 151px;
  width: 354px;
  height: 354px;
  border-radius: 50%;
  z-index: 2;
}

.main-image__circle {
  position: absolute;
  top: 141px;
  left: 142px;
  width: 370px;
  height: 370px;
  z-index: 1;
}

.main-image__decor {
  width: 100%;
}

.main-text {
  text-align: center;
  margin: 240px 0px 0px 0px;
}

.main-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 98px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #6c9894;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.main-text__description {
  max-width: 450px;
  font-size: 22px;
  color: #6c9894;
  margin: 0px auto 40px;
}

.class {
  padding: 120px 0px 150px 0px;
  background-color: #6c9894;
}

.class__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.class-text {
  text-align: center;
  color: #f4f9f4;
  margin: 0px 0px 80px 0px;
}

.class-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 75px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.class-text__description {
  max-width: 680px;
  font-size: 28px;
  margin: 0px auto;
}

.class-card-image {
  position: relative;
  width: 385px;
  height: 381px;
  margin: 0px auto 25px;
}

.class-card-image__foto {
  position: absolute;
  top: 40px;
  left: 35px;
  width: 314px;
  height: 314px;
  border-radius: 50%;
  z-index: 1;
}

.class-card-image__decor {
  width: 100%;
}

.class-card-text {
  text-align: center;
  color: #f4f9f4;
}

.class-card-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 37px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.class-card-text__description {
  font-size: 22px;
}

.trainer {
  background: url(../img/trainer/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 90px 0px 120px 0px;
}

.trainer-image {
  position: relative;
  width: 408px;
  height: 408px;
  margin: 0px auto 20px;
}

.trainer-image__foto {
  position: absolute;
  top: 46px;
  left: 47px;
  width: 314px;
  height: 314px;
  border-radius: 50%;
  z-index: 1;
}

.trainer-image__decor {
  width: 100%;
}

.trainer-text {
  text-align: center;
  color: #6c9894;
}

.trainer-text__description {
  max-width: 700px;
  font-size: 32px;
  margin: 0px auto 40px;
}

.trainer-text__name {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 40px;
  font-weight: 700;
}

.instructor {
  padding: 60px 0px 60px 0px;
  background-color: #6c9894;
}

.instructor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instructor__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.instructor-text {
  color: #f4f9f4;
  margin: 90px 0px 60px 0px;
}

.instructor-text__title {
  max-width: 430px;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  margin: 0px 0px 10px 0px;
}

.instructor-text__description {
  max-width: 500px;
  font-size: 22px;
  margin: 0px 0px 40px 0px;
}

.instructor-text__btn {
  color: #6c9894;
  background-color: #f4f9f4;
}

.instructor-image {
  width: 400px;
  height: 555px;
}

.instructor-image__foto {
  width: 100%;
}

.stats {
  background-color: #f4f9f4;
  padding: 80px 0px 100px 0px;
}

.stats__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.stats__container {
  max-width: 1000px;
  margin: 0px auto;
}

.stats-text {
  text-align: center;
  color: #6c9894;
  margin: 0px 0px 60px 0px;
}

.stats-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 60px;
  margin: 0px 0px 10px 0px;
}

.stats-text__description {
  max-width: 770px;
  font-size: 22px;
  margin: 0px auto;
}

.stats-card {
  text-align: center;
  max-width: 160px;
  position: relative;
  margin: 0px auto;
}

.stats-card__circle {
  display: block;
  margin: 0px 0px 15px 0px;
}

.stats-card__number {
  position: absolute;
  left: 55px;
  top: 55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a7d7c5;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 23px;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 2px 0px 0px;
}

.stats-card__description {
  color: #6c9894;
  font-size: 22px;
}

circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #e2ede8;
  stroke-width: 25;
  stroke-dasharray: 408px 408px;
}

circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #6c9894;
  stroke-width: 25;
}

.pricing {
  padding: 100px 0px 100px 0px;
  background-color: #6c9894;
}

.pricing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.pricing__container {
  max-width: 1100px;
  margin: 0px auto;
}

.pricing-text {
  color: #f4f9f4;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.pricing-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 70px;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
}

.pricing-text__description {
  max-width: 650px;
  font-size: 22px;
  margin: 0px auto;
}

.pricing-card {
  text-align: center;
  width: 300px;
  height: 475px;
  border-radius: 8px;
  background-color: #f4f9f4;
  color: #6c9894;
  margin: 0px auto;
}

.pricing-card__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 30px;
  font-weight: 700;
  padding: 40px 0px 0px 0px;
}

.pricing-card__price {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}

.pricing-card__description {
  max-width: 280px;
  font-size: 22px;
  margin: 0px auto 30px;
}

.pricing-card__btn {
  font-size: 21px;
  padding: 0 40px;
}

.pricing-card-image {
  width: 100px;
  height: 120px;
  margin: 0px auto 35px;
}

.pricing-card-image__icon {
  width: 100%;
}

.update {
  padding: 150px 0px 200px 0px;
  background-color: #f4f9f4;
}

.update-text {
  text-align: center;
  color: #6c9894;
  margin: 0px 0px 40px 0px;
}

.update-text__title {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  margin: 0px 0px 10px 0px;
}

.update-text__description {
  max-width: 750px;
  font-size: 28px;
  margin: 0px auto;
}

.update-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.update-form input {
  background-color: #A7D7C5;
  color: #f4f9f4;
  display: block;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  max-width: 650px;
  width: 100%;
  height: 63px;
  font-size: 25px;
  padding: 20px 35px;
}

.update-form input::-webkit-input-placeholder {
  color: #f4f9f4;
}

.update-form input::-moz-placeholder {
  color: #f4f9f4;
}

.update-form input:-moz-placeholder {
  color: #f4f9f4;
}

.update-form input:-ms-input-placeholder {
  color: #f4f9f4;
}

.update-form__btn {
  line-height: 63px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #6c9894;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 20px;
  color: #f4f9f4;
  padding: 0px 40px 0px 30px;
}

.update-form__btn:hover {
  background-color: #cee5da;
  color: #6c9894;
}

.footer {
  padding: 90px 0px 40px 0px;
  background-color: #6c9894;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.footer__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__col4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 28px;
  font-weight: 700;
  color: #f4f9f4;
  margin: 0px 0px 15px 0px;
}

.footer__description {
  max-width: 480px;
  font-size: 22px;
  line-height: 28px;
  color: #f4f9f4;
}

.footer-list li {
  margin: 0px 0px 15px 0px;
}

.footer-list a {
  font-size: 22px;
  color: #f4f9f4;
}

.footer-list a:hover {
  color: #a7d7c5;
}

.footer-social li {
  margin: 0px 0px 15px 0px;
}

.footer-social a {
  font-size: 22px;
  color: #f4f9f4;
}

.footer-social a:hover {
  color: #a7d7c5;
}

.footer-social a:hover svg {
  fill: #a7d7c5;
}

.footer-social svg {
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
  fill: #f4f9f4;
  margin: 0px 8px 0px 0px;
}

@media (max-width: 1312px) {
  .container {
    max-width: 970px;
  }

  .main {
    padding: 137px 0px 170px 0px;
    background-size: 250px 500px;
    background-position: right bottom -220px;
  }

  .main-image {
    width: 553px;
    height: 553px;
    margin: 50px 0px 0px 0px;
  }

  .main-image__foto {
    top: 122px;
    left: 125px;
    width: 300px;
    height: 300px;
  }

  .main-image__circle {
    top: 114px;
    left: 117px;
    width: 316px;
    height: 316px;
  }

  .main-text {
    margin: 140px 0px 0px 0px;
  }

  .class-card-image {
    width: 300px;
    height: 300px;
  }

  .class-card-image__foto {
    top: 49px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  .class-card-text__description {
    max-width: 280px;
    margin: 0px auto;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .main__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .main__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .main-image {
    margin: 0px auto;
  }

  .main-text {
    margin: 30px 0px 0px 0px;
  }

  .class {
    padding: 100px 0px 80px 0px;
  }

  .class__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .class__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .class-card {
    margin: 0px 0px 40px 0px;
  }

  .class-card-text__description {
    max-width: 320px;
  }

  .trainer {
    background: #f4f9f4;
    padding: 90px 0px 90px 0px;
  }

  .instructor-text {
    margin: 0px 0px 0px 0px;
  }

  .instructor-image {
    width: 300px;
    height: 416px;
    margin: 0px auto;
  }

  .pricing {
    padding: 80px 0px 40px 0px;
  }

  .pricing__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .pricing__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .pricing-card {
    margin: 0px auto 50px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer__col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer__col4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer__title {
    text-align: center;
  }

  .footer__description {
    max-width: 100%;
    margin: 0px 0px 40px 0px;
    text-align: center;
  }

  .footer-list {
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  .footer-social {
    max-width: 150px;
    margin: 0px auto;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    position: fixed;
    margin: 0px 0px 0px 0px;
  }

  .header::before {
    background-color: #49807b;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #f4f9f4;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    padding: 0px;
  }

  .header__link:hover {
    background-color: #f4f9f4;
  }

  .main {
    padding: 80px 0px 170px 0px;
  }

  .instructor__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .instructor__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .instructor-text {
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  .instructor-text__title {
    margin: 0px auto 16px;
  }

  .instructor-text__description {
    margin: 0px auto 40px;
  }
}

@media (max-width: 580px) {
  .main {
    background-size: 165px 320px;
    background-position: right bottom -140px;
  }

  .main-image {
    width: 300px;
    height: 300px;
  }

  .main-image__foto {
    top: 71px;
    left: 71px;
    width: 158px;
    height: 158px;
  }

  .main-image__circle {
    top: 66px;
    left: 66px;
    width: 168px;
    height: 168px;
  }

  .main-text__title {
    font-size: 60px;
    line-height: 55px;
  }

  .class-text {
    margin: 0px 0px 50px 0px;
  }

  .class-text__title {
    font-size: 60px;
    line-height: 50px;
    margin: 0px 0px 15px 0px;
  }

  .class-text__description {
    font-size: 22px;
  }

  .trainer-text__description {
    font-size: 22px;
  }

  .instructor-text__title {
    font-size: 50px;
    line-height: 45px;
    margin: 0px auto 15px;
  }

  .stats {
    padding: 80px 0px 60px 0px;
  }

  .stats__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stats__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .stats-text__title {
    font-size: 50px;
    line-height: 45px;
    margin: 0px auto 15px;
  }

  .stats-card {
    margin: 0px auto 40px;
  }

  .pricing-text__title {
    font-size: 50px;
    line-height: 45px;
    margin: 0px 0px 15px 0px;
  }

  .update {
    padding: 100px 0px 100px 0px;
  }

  .update-text__title {
    font-size: 50px;
    line-height: 45px;
    margin: 0px 0px 15px 0px;
  }

  .update-text__description {
    font-size: 22px;
  }
}

@media (max-width: 520px) {
  .footer__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__col4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 479.98px) {
  .trainer-image {
    width: 300px;
    height: 300px;
  }

  .trainer-image__foto {
    top: 49px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  .pricing-card {
    width: 290px;
  }

  .update-form {
    display: block;
  }

  .update-form input {
    border-radius: 50px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 20px;
  }

  .update-form__btn {
    border-radius: 50px;
    width: 100%;
  }
}